#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: bold;
  font-family: inherit;
  background-color: #ededed;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #fc7e17;
  color: #0b53ab;
}

p {
  max-width: 800px;
  margin: 12px auto;
  text-align: left;
}

ul {
  max-width: 800px;
  margin: 12px auto;
  text-align: left;
}

.levels-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
  margin: 0 auto;
  max-width: 1044px;
}

.level {
  position: relative;
}

.level img {
  height: 512px;
  width: auto;
  border-radius: 12px;
}

.level p {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
}

.level .rlBTRFLY {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
}

.level button {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
}

@media(max-width: 1184px) {
  .level img {
    width: 100%;
    height: auto;
  }
}

@media(max-width: 768px) {
  .levels-grid {
    grid-template-columns: 1fr;
  }

  .level img {
    height: 512px;
    width: auto;
  }
}

@media(max-width: 640px) {
  .level img {
    height: auto;
    width: 100%;
  }
}